body {
  background-image: url("https://t3.ftcdn.net/jpg/07/15/25/86/360_F_715258622_ue9iMCrT0EUkMoxZhkau7z7fYs8i2qUC.jpg");
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas1 {
  border: 1px solid black;
  background-image: url("supermarket-interior-shelf_165488-3982.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#myCanvas2 {
  border: 1px solid black;
  border-radius: 30px;
}


